<?xml version="1.0"?>
<config>
    <modules>
        <Michael_Import>
            <version>1.0.0</version>
        </Michael_Import>
    </modules>
    <global>
        <models>
            <michael_import>
                <class>Michael_Import_Model</class>
                <resourceModel>michael_import_resource</resourceModel>
            </michael_import>
            <michael_import_resource>
                <class>Michael_Import_Model_Resource</class>
                <entities>
                    <booking>
                        <table>michael_booking</table>
                    </booking>
                </entities>
            </michael_import_resource>
        </models>
        <blocks>
            <michael_import>
                <class>Michael_Import_Block</class>
            </michael_import>
        </blocks>
        <helpers>
            <michael_import>
                <class>Michael_Import_Helper</class>
            </michael_import>
        </helpers>
        <resources>
            <michael_import_setup>
                <setup>
                    <module>Michael_Import</module>
                </setup>
            </michael_import_setup>
        </resources>
    </global>
</config>